.place-order-page {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #1e1d2a;
  display: grid;
  grid-template-columns: 5fr 2fr;
}
.add{
border-radius: 10px 10px 0px 0px;
  margin-top: 10px;
  padding: 10px;
  color: white;
  background-color: black;
}
.order-form{
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  
}
.spacer{
  margin-top: 20px;
}
.id-date{
  display: flex;
  justify-content: space-between;
}

.order-form input{
  border: 1px solid gray;
  height: 40px;
  border-radius: 10px;
  background-color: #252937;
}
.order-item-list{
  height: 400px;
  overflow-x:auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;

}
.order-item-card{
  border: 1px solid rgba(121, 118, 118, 0.278);
  
  border-radius: 5px;
  padding: 10px;

}
.price-qty{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-wrapper{
  display: flex;
  align-items: center;
}
.qty-btn{
  color: black;
  display: flex;
  align-items: center;
  font-size: 10px;
 padding: 2px;
  border-radius: 15px;
  background-color: white;
  margin: 5px;
  gap: 5px;
  
}
.qty-btn i{
  border: 1px solid;
  border-radius: 50%;
  padding: 5px;
}
.plus{
  background-color:black;
  color: white;
}
.trash{
   color: #eb6968;
  padding: 4px 10px;
  border: 1px solid;
  border-radius: 15px;
}
.trash:hover{
 color: white;
  background-color: #eb6968;
  box-shadow: 0 0 20px #eb6968;
}
.order-item-card input{
  width: 100%;
  
}
.payment{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.payment div{
  display: flex;
  justify-content: space-between;
}
.payment button{
  margin-top: 5px;
  text-align: center;
 color: #eb6968;
  padding: 5px;
  border: 1px solid;
  border-radius: 10px;
  
}
.payment button:hover{
color: white;
  background-color: #eb6968;
  box-shadow: 0 0 20px #eb6968;
}